.Login {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30%;
  height: 100%;
  // border: 1px solid #000;

  h2 {
    margin-bottom: 1em;
  }

  form {
    display: flex;
    flex-direction: column;
    input:first-child {
      margin-bottom: 1em;
    }
  }
}
