.Admin {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 50px;
    border-bottom: 1px solid rgba(42, 63, 76, 0.2);

    .admin-icon {
      margin-right: 0.25em;
    }

    .exit-icon {
      font-size: 1em;
      margin-left: 1em;
    }
  }
}
